
#calendartable div {
	font-size: 16px;
}

.infoday {
	font-family:"方正姚体";
	font-size: 12px;
	color: #660000;
	font-style: normal;
	text-decoration: underline;
}

#calendartable {
	width: 100%;
}

#calendartable tr {
	height: 60px;
}

/* 日历的头 */
.caletitlediv {
	text-align: center;
	font-size: 28px;
	font-family: "方正舒体";
	padding: 20px 0px 20px 0px;
	cursor: default;
	background-color: #FDD695;
}

#quickdiv div a {
	color:#ffffff;
}

#quickdiv div {
	padding: 9px 0px 9px 0px;
	text-align: center;
}

#calendartable thead td {
	text-align: center;
}